[user]
	email = 70298390+devlulcas@users.noreply.github.com
	name = devlulcas
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[fetch]
	prune = true
[diff]
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[column]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
